@model BudgetPortal.Entities.BudgetLedgers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BudgetLedgers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LedgerNo" class="control-label"></label>
                <input asp-for="LedgerNo" class="form-control" />
                <span asp-validation-for="LedgerNo" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <label asp-for="LedgerName" class="control-label"></label>
                <input asp-for="LedgerName" class="form-control" />
                <span asp-validation-for="LedgerName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="SubGroupNo" class="control-label"></label>
                <select asp-for="SubGroupNo" class="form-control" asp-items="ViewBag.SubGroupNo" readonly="readonly"></select>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div> <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Ledgers" asp-route-SubGroupid="@ViewData["SubGroupID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
