@model BudgetPortal.ViewModel.MultipleData

@using System.Web.Helpers;
@using WebGridMvc;
@using System.Web;

@{
    Layout = null;
    WebGrid webGrid = new WebGrid(source: Model.SubGroupss, canSort: false, canPage: false);
}

@webGrid.GetHtml(
        htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
        columns: 
        webGrid.Columns(
               webGrid.Column(null, null, format: @<text><img src="~/Images/plus.png"/><div style="display:none"></div></text>),
               webGrid.Column("SubGroupNo", "SubGroup Number"),
               webGrid.Column("subGroupName", "SubGroup Name"),
               webGrid.Column(format: (item) =>
               {
                    WebGrid childGrid = new WebGrid(source: Model.Ledgerss, canSort: false, canPage: false);
                    return childGrid.GetHtml(
                    htmlAttributes: new { @class = "ChildGrid" },
                    columns: 
                    childGrid.Columns(
                               childGrid.Column("LedgerNo", "LedgerNo"),
                               childGrid.Column("LedgerName", "LedgerName")
                                      ));
                                    })
                                 ))